body{
	font-family: 'Lora', serif;
}

header{
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    height: 100px;
}

nav{
    flex:1 1 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-items: center;
}

header nav button{
    width: 210px;
    height: 37px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding:5px 21px 5px 21px;
    border: 1px black;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-size-adjust: 0.6;
	background-color:#EF4FA6;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    box-shadow: 4px 4px 4px #000000;
    font-weight: bold;
}

header nav button:hover{
    background-color: #FFAF49;
}
.smedia{
    padding: 30px;
}
.address .smedia a{
    font-size: 30px;
    color: black;
}


.parallax{
    background-image: url(img/thread.jpg);
	min-height: 350px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about{
    display: flex;
    flex-flow:nowrap;
}

.a1, .a3{
    flex:1;
}

.a2{
    flex:3;
    text-align: center;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 50px;
    line-height: 1.75;
}

.a2 span{
   font-size: 30px; 
   font-style: italic; 
    
}

.fabric{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: center;
    background-image: url(img/fabric.jpg);
    min-height: 700px;
}

.services{
    width: 590px;
    height: 320px;
    background-color: white;
    border-radius: 30px;
    opacity:0.8;
    display: flex;
    flex-flow:row wrap;
    align-content:center;
}

.services span{
    font-size: 25px;
    padding-bottom: 50px;
    margin: auto;
}
.services li{
    list-style: none;
    background-image: url(img/scissors.png);
    background-repeat: no-repeat;
    font-size: 20px;
    padding-left: 33px;
    padding-right: 25px;
    padding-bottom: 10px;
    
}
.costs{
    width: 590px;
    height: 320px;
    background-color: white;
    border-radius: 30px;
    opacity:0.8;
    display: flex;
    flex-flow:column;
    
}
.costs span, .costs table{
    display:block;
    margin-left: auto;
    margin-right: auto; 
}

.costs span{
    font-size:17px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.costs table{
    border:1px solid black;
    border-radius: 5px;
}

.costs td{
    padding: 8px;
    border:1px solid black;
}

.contact{
    min-height: 400px;
}

.contact{
    display: flex;
    flex-flow:row wrap;
}

.map, .address{
    flex:1;
}

.map{
    display: flex;
    flex-flow: column;
}

.map iframe, small{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.map iframe{
    margin-top: 30px;
}
.map small a{
   font-size:18px;
   text-decoration: none;
   color: black;   
}

.address{
    text-align: center;
    padding-top: 80px;
}

.address p{
    font-size:20px;
    padding: 5px;
   
}
.address span{
    font-size:30px;
    font-style:italic;
}
.address h1{
    font-size:28px;
    text-decoration: underline;
    font-weight: normal;
}

footer{
    border-top: 2px dotted #EF4FA6;
}
footer p{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 14px;
}



@media(min-width:481px) and (max-width:768px){
    
    header{
        height: 130px;
    }
     .smedia{
        justify-content:center;  
    }
    
}

@media(max-width:480px){
    header{
         height: 200px;
    }
    header nav button{
        padding:2px 5px 2px 5px;
        margin-bottom: 5px;
    }
    
    .smedia{
        justify-content:center;  
    }
    .parallax{
    background-image: url(img/thread-min.jpg);
    }
    .a1, .a3{
        flex:1;
    }
   .a2{
       flex:6;
    }
    .about .a2{
      font-size: 15px;
      padding-top: 15px;
      padding-bottom: 20px;
    }
    .about .a2 span{
        font-size: 25px; 
    }
    .fabric{
     background-image: url(img/fabric-min.jpg);
    }
    .services, .costs{
        width: 440px;
        height: 250px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .services span{
        font-size: 17px;
        padding-bottom: 10px;
        padding-left: 33px;
    }
    .services li{
        font-size: 15px;
        padding-left: 33px;
        padding-right: 25px;
        padding-bottom: 10px;
    }
    .costs span{
        font-size:15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .costs td{
        padding: 5px;
    }
    .map iframe{
        width: 270px;
        height: auto;
    }
    .map small a{
        font-size:10px;
    }
    .address{
        padding-top: 30px;
    }
    .address p{
        font-size:15px;
    }
    .address span{
        font-size:20px;
    }
    .address h1{
        font-size:20px;
    }
    footer p{
        font-size: 12px;
    }
}
